<table class="table">
  <tbody>
    <tr>
      <td>Фасон</td>
      <td>{{ product.style }}</td>
    </tr>
      <tr>
      <td>Состав</td>
      <td>{{ product.structure }}</td>
    </tr>
      <tr>
      <td>Крой</td>
      <td>{{ product.cut }}</td>
    </tr>
      <tr>
      <td>Силуэт</td>
      <td>{{ product.silhouette }}</td>
    </tr>
      <tr>
        <td>Посадка</td>
        <td>{{ product.landing }}</td>
    </tr>
      <tr>
      <td>Длина</td>
      <td>{{ product.length }}</td>
      </tr>
  </tbody>
</table>
